/*------------------ @reset ------------------*/
body,html { margin:0; padding: 0; width: 100%; height:100%; }
body,h1,h2,h3,h4,h5,h6,pre,code { font-size: 1em; }
ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,body,html,p,blockquote,fieldset,legend,
input,button,select,textarea,dl,dd,dt,hr,table,thead,tbody,tfoot,tr,th,td
{ margin:0; padding:0 }
img,a img,:link img,:visited img { border:0;padding:0;margin:0; }
address,cite,caption { font-style: normal }
caption,th { text-align: left }
ol,ul { margin:0; margin-left: 25px; }
a,button { outline: 0; }
input[type="submit"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, button::-moz-focus-inner { border: 0px; }

@font-face{
	font-family:ProximaNovaLight;
	font-weight:normal;
	src:url("fonts/Proxima-Nova-Light.otf") format("opentype");
}

@font-face{
	font-family:ProximaNovaBold;
	font-weight:bold;
	src:url("fonts/Proxima-Nova-Bold.otf") format("opentype");
}

@font-face{
	font-family:ProximaNovaSemibold;
	font-weight:normal;
	src:url("fonts/Proxima-Nova-Semibold.otf") format("opentype");
}

@font-face{
	font-family:ProximaNovaBlack;
	font-weight:900;
	src:url("fonts/Proxima-Nova-Black.otf") format("opentype");
}


/*------------------ @body ------------------*/
body {
	/* twofishillustration.com created this header. Isn't it dope? */
	background: #f4f3f3 url(images/header.gif) repeat-x center top fixed;
	color: #444948;
	font: normal 16px/24px "ProximaNovaLight", "Helvetica Neue", Helvetica, sans-serif;
}

a {
	text-decoration: none;
	color: #214a64;
}

p strong {
	font-family: ProximaNovaSemiBold;
}

	h1 {
		margin: 0 auto;
	}

	h1, h1 a {
		width: 333px;
		height: 242px;
		display: block;
	}

		h1 a {
			text-indent: -9999px;
			background: url(images/logo.html) no-repeat 0 0;
			border: 0;
		}

	header {
		height: 100%;
		position: fixed;
		top: 0;
		width: 100%;
	}

	header .sergio {
		position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%); /* IE 9 */
    -webkit-transform: translate(-50%, -50%); /* Chrome, Safari, Opera */

	}

	header .avatar {
		display: block;
		border-radius: 50%;
		width: 170px;
		height: 170px;
		margin: 0 auto;
	}

	header h2 {
		color: #fff;
		text-align: center;
		display: block;
		font-size: 3em;
		line-height: 1em;
		padding-top: 20px;
	}

	header h2 span {
		display: block;
		font-size: 14px;
		padding-top: 15px;
		font-weight: normal;
		color: rgba(255,255,255,0.6);
		font-family: ProximaNovaLight;
		letter-spacing: 0.2em;
		text-transform: uppercase;
	}

	header .social {
		text-align: center;
		padding-top: 0;
	}

		header .social a {
			width: 50px;
			height: 50px;
			display: inline-block;
			text-indent: -999em;
			-webkit-transform: scale(0.5, 0.5);
			transform: scale(0.5, 0.5);
			background-position: center center;
			background-repeat: no-repeat;
			text-align: center;
			border: 0;

			-webkit-transition: all .2s ease-in-out; /* For Safari 3.1 to 6.0 */
    	transition: all .2s ease-in-out;
		}

			header .social a.twitter  { background-image: url(images/twitter.png); }
			header .social a.dribbble { background-image: url(images/dribbble.png); }
			header .social a.linkedin { background-image: url(images/linkedin.png); }
			header .social a.medium   { background-image: url(images/medium.png); display:none; }
			header .social a.email    { background-image: url(images/email.png); }
			header .social a.github   { background-image: url(images/github.png); }

#top {

}

#logo {
	position: fixed;
	top: 20px;
	left: 20px;
	width: 20px;
}

#container {
	margin: 526px auto 0 auto;
	width: 100%;
	background: #fff;
	position: relative;
	box-shadow: 0 0 5px rgba(0,0,0,.2);
	z-index: 3;
	padding-top: 20px;
}

#container h2 {
	border-bottom: 1px solid #f4f3f3;
	display: block;
	width: 100%;
	font-size: 0.8em;
	font-weight: bold;
	padding: 0;
	margin: 0;
	font-family: ProximaNovaSemiBold;
	height: 50px;
}

	#container h2 span {
		margin: 0;
		display: block;
		width: 780px;
		margin: 0 auto;
	}

	#container h2 span em {
		border-bottom: 1px solid #444948;
		font-style: normal;
		display: inline-block;
		padding: 20px 0;
		height: 10px;
	}
 

}
